<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-bottom">
      <p>© 2025 | Ashraf Samir - Software Developer</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/ashrafsamir808/" target="_blank" class="social-icon">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Ashraf8amir" target="_blank" class="social-icon">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:achrafsamir808@gmail.com" class="social-icon">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
