<div class="contact-container">
  <div class="main-content">
    <!-- Contact Hero Section -->
    <div class="contact-hero-section">
      <div class="text-center">
        <!-- Contact Title -->
        <h1 class="contact-title">
          <span class="white-highlight"></span>
          Ashraf Samir
          <span class="white-highlight"></span>
        </h1>

        <!-- Social Media Icons -->
        <div class="media-content">
          <div class="media-icons">
            <div class="media-icon">
              <a href="https://www.linkedin.com/in/ashrafsamir808/" target="_blank" class="a-green">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
            <div class="media-icon">
              <a href="https://github.com/Ashraf8amir" target="_blank" class="a-green">
                <i class="fab fa-github"></i>
              </a>
            </div>
            <div class="media-icon">
              <a href="mailto:achrafsamir808@gmail.com" class="a-green">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
            <div class="media-icon">
              <a href="https://www.instagram.com/" target="_blank" class="a-green">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Contact Message -->
        <p class="contact-paragraph">
          I'm always happy to collaborate on new projects and explore innovative solutions.
          If you're looking for a dedicated software developer to bring your ideas to life,
          let's arrange a call. Let's discuss how <span class="default-highlight">
          we can work together to achieve your goals</span>.
        </p>

        <!-- Contact Buttons -->
        <div class="contact-buttons">
          <button class="contact-button">
            <a href="https://www.linkedin.com/in/ashrafsamir808/" target="_blank" class="a-green">
              > DM me on LinkedIn
            </a>
          </button>
          <button class="contact-button">
            <a href="mailto:achrafsamir808@gmail.com" class="a-green">
              > Send Email
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
